<h1><%= @student.last_name %>, <%= @student.first_name %></h1>

<div>
Form for <%= @newest_form.created_at.strftime("%F") %>
<%= @newest_form.mood %>
<%= @newest_form.worked_hard_at %>
<%= @newest_form.done_better_at %>
<%= @newest_form.favorite_part %>
</div>
