<h1 class='text-center'>Welcome, <%= current_user.username %></h1>
<h3 class='text-center'><%= current_user.role.capitalize %> Dashboard</h3>
<% if current_user.teacher? %>
<%= link_to "Add a Student", new_teacher_student_path %>
<%= link_to "See All Student Forms", teacher_forms_path %>
<%= link_to "View all of your students", teacher_students_path %>
<%= link_to "View all guardians", teacher_guardians_path %>
<% end %>
<%= link_to "Edit Your Profile", edit_user_path(current_user) %>
<%= link_to "Your Show Page", user_path(current_user) %>
