<h1 class='text-center'><%= @student.last_name %>, <%= @student.first_name %></h1>


<div class='card mx-auto' style="width: 18rem;">
  <% if @newest_form %>
  <div class='text-center'>
    Form for <%= @newest_form.created_at.strftime("%F") %>
  </div>
  <div>
    Mood: <%= @newest_form.mood %>
  </div>
  <div>
    Worked Hard At: <%= @newest_form.worked_hard_at %>
  </div>
  <div>
    Done Better At: <%= @newest_form.done_better_at %>
  </div>
  <div>
    Favorite Part: <%= @newest_form.favorite_part %>
  </div>
  <% end %>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Form Link</th>
      <th scope="col">Last</th>
      <th scope="col">First</th>
    </tr>
  </thead>
  <tbody>
    <% @forms.each do |form| %>
    <tr>
      <th scope="row"><%= form.created_at.strftime("%F") %></th>
      <td><%= link_to "View Form", guardian_form_path(form) %></td>
      <td><%= form.student.last_name %></td>
      <td><%= form.student.first_name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
