<h1 class='text-center'><%= @form.student.last_name %>, <%= @form.student.first_name %></h1>
<h3 class='text-center'><%= @date %></h3>

<div class='card mx-auto' style="width: 18rem;">
  <div>
    Mood: <%= @form.mood %>
  </div>
  <div>
    Worked Hard At: <%= @form.worked_hard_at %>
  </div>
  <div>
    Done Better At: <%= @form.done_better_at %>
  </div>
  <div>
    Favorite Part: <%= @form.favorite_part %>
  </div>
</div>
