<h1 class='text-center'><%= @form.student.last_name %>, <%= @form.student.first_name %></h1>
<h3 class='text-center'><%= @date %></h3>

<%= @form.mood %>
<%= @form.worked_hard_at %>
<%= @form.done_better_at %>
<%= @form.favorite_part %>

<%= button_to "Delete", teacher_form_path(@form), :method => :delete %>
