<h1>New Form</h1>

<%= form_for @form do |f| %>
  <%= f.hidden_field :student_id, value: @student.id %>
  <%= f.label :mood %>
  <%= f.text_field :mood %>
  <%= f.label :worked_hard_at %>
  <%= f.text_field :worked_hard_at %>
  <%= f.label :done_better_at %>
  <%= f.text_field :done_better_at %>
  <%= f.label :favorite_part %>
  <%= f.text_field :favorite_part %>
  <%= f.submit "Submit" %>
<% end %>
